<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="logo">Music-Book</h1>
    <h2>Setup</h2>
    <li>
        <h2>Step1</h2>
        <h2>Step1</h2>
        <h2>Step1</h2>
        <h2>Step1</h2>
    </li>
    <button  onclick="rec">Record</button>
    <button>Stop</button>
    <div class="img_tab-1"></div>
</body>
<script>
    function rec () {
        
        
    }
</script>
</html>