<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="logo">Music-Book</h1>
    <div class="wrap">
        <h2>Setup</h2>
        <li class="stp_list">
            <h2>Step1</h2>
            <h2>Step1</h2>
            <h2>Step1</h2>
            <h2>Step1</h2>
        </li>
    </div>


    <div class="img_tab-1">
        <img src="/static/" alt="">
    </div>
    <a href="/templates/vedio.html">
        <button>Record</button>
    </a>

    <button>Stop</button>


</body>

<style>
    .img_tab-1{
        height: 250px;
        width: 350px;
        background-color: #EF813F;
        
        margin-left: 150px;

    }
    .wrap{
        position: absolute;
        left: 60%;

    }
    .stp_list{
        font-weight: 400;
    }
    button{
            background-color: #EF813F;
            border: none;   
            font-size: 16px;
            border-radius: 10%;
            padding: 10px 20px;
            font-family: "Poppins";
            
        }

</style>
<script>

</script>
</html>