<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="logo">Music-Book</h1>
    <video
    width="530"
    height="300"
    class="vid_1"   
    >


    </video>
    <div class="wrap">
        <a href="{{url_for('download_file' , filename='1.mp3') }}">
            <button>Download aud</button>
        </a>
        <a href="{{url_for('download_file' , filename='1.txt')}}">
            <button>Download music book</button>
        </a>    
    </div>



    <div class="music_info"></div>
    
</body>
<style>
    .logo{
        display: flex;
        justify-content: center;
    }
    button{           
        background-color: #EF813F;
        border: none;   
        font-size: 16px;
        border-radius: 2%;
        padding: 10px 20px;
        font-family: "Poppins";          
    }
    .wrap{
        margin-left:50px;
    }
</style>
</html>