<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 class="logo">Music-Book</h1>
    <h1>Music Book what's the book for ?</h1>
    <h2>why dont you give a chance and record one of your most intricate pieces</h2>

    <h1>GO ON </h1>
    <div class="img_tab-1"></div>
    <div class="img_tab-2"></div>
    <div class="img_tab-3"></div>

    <style></style>
    
</body>
</html>